<!--The content below is only a placeholder and can be replaced.-->
<div  style="background-color: rgb(237, 223, 206);">
<app-navigation></app-navigation>
<router-outlet></router-outlet>
    <div class ="container" style="background-color: rgb(7, 66, 47);">
        <p style="color: aliceblue;">
            Mail Us:
            ShopForHome Private Limited,
            
            Buildings Alyssa, Begonia &

            Clove Embassy Tech Village,

            Outer Ring Road, Devarabeesanahalli Village,

            Bengaluru, 560103,

            Karnataka, India

        </p>
        <p style="color: aliceblue;">
            Contact us at :

        </p>
        <p style="color: aliceblue;">
            email : shopForHomeQuery@shopforhome.com

        </p>
        <div style="margin-left: auto;margin-right: auto;">
            <img  src="https://static-assets-web.flixcart.com/fk-p-linchpin-web/fk-cp-zion/img/payment-method_69e7ec.svg" alt="">
        </div>
        
    </div>
</div>
